.wrap{
    width:80%;
    margin:0 auto;
}

.singele-page{
    margin-top:8em;
    padding:2%;
}

.singele-page-content img{
    width:100%;
}
.comment1{
    margin-top:0.8em;
}
.comment1-img{
    float:left;
    width:8.333%;
    margin-right:2%;
}
.comment1-text{
    float:left;
    width:88.33%;
}
.comment1-text h3{
    text-align:left;
    padding:0.8em 0 0;
}
.comment1-text p{
    margin:0.6em 0;
}

.comment-box{
    margin:1em 0;
}
.table-form{
    margin:0em auto;
}
.table-form label{
    display:block;
    margin:0.4em 0 0.5em;
    font-weight:100;
}
.table-form textarea {
    padding: 8px;
    outline: none;
    color: #333333;
    border: 1px solid rgba(192, 192, 192, 0.61);
    width: 60%;
    height: 180px;
    resize: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
}
.table-form input[type="submit"]:hover {
    color: #B9CB41;
    border: 1px solid #B9CB41;
}