@page "/IndiviPost"

<div class="header"></div>
<div class="content">
    <div class="wrap">
        <div class="single-page">
            <div class="single-page-content">
                <img src="/Image/img4.jpg"/>
                <h3>This is  the title</h3>
                <p>THis is all the soihoaodhaosidal s ioh asoi shoih aohsoh aosh </p>
            </div>
        </div>
        <div class="comment-section">
            <h2>Comments</h2>
            <div class="comment1">
                <div class="comment1-img">
                    <a href=""><img src="/Image/pic10.jpg" /></a>

                </div>

                <div class="comment1-text">
                    <h4><a href="">User Name 1</a></h4>
                    <h3> Reply Date</h3>
                    <p> Thisi is my first comment</p>
                </div>
            </div>
        </div>
        <div class="comment-box">
            <h2>Leave a Comment</h2>
            <div class="table-form">
                <form action="#" method="post" name="post_comment">
                    <div>
                        <label>Your Comment</label>
                        <textarea></textarea>

                    </div>
                </form>
                <input type="submit" value="submit"/>
            </div>
        </div>
    </div>
</div>





@code {

}
