.top {
    position:relative;
    height: 50px;
    width: 100%;
    top:50px;
    padding-left:0;
    text-align: center;
    border: 2px;
}

.top1 {
    display: inline-block;
}

.top2 {
    display: inline-block; 
}

.white-panel img {
    width:100% ;
    height:auto;
    background-color:#2ebbbc

}

.content {
    column-count:4;
    column-gap:0;
    
}
.white-panel{
    padding:2px;
}