.top {
    position: fixed;
    height: 50px;
    width: 100%;
    top: 10px;
    padding-left: 0px;
    text-align: center;
    border: 2px;
}

.top1 {
    display: inline-block;
}

.top2 {
    display: inline-block;
}

body{
    background-color:#2ebbbc;
    font-family:Tahoma;
    margin:4px;
}

.white-panel img {
    width:100% ;
    height:auto;
    display:block;
    background-color:#2ebbbc

}

.content {
    column-count: 5;
    column-gap: 10px;
}
.white-panel{
    padding:2px;
}


.post-basic-info{
    padding-top:2%;
    padding-right:7%;
    padding-bottom:5%;
    padding-left:7%;
}

.post-basic-info h3 a {
    color: #717171;
    font-size: 1.2em;
    margin-bottom: 0.2em;
    display: block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
}

.post-basic-info p {
    font-size: 0.875em;
    color: #B7B5B5;
    margin-top: 0.6em;
    margin-right: 0px;
    margin-bottom: 0.6em;
    margin-left: 0px;
    line-height: 1.5em;
}