@page "/"

<body>
    <div class="top">
        <div class="top1"><button>Follow Page</button></div>

        <div class="top2">  <button>For You Page</button></div>
    </div>
    <div class="box1">
        <div class="img">
            img
        </div>
        <div class="title">
            title
        </div>
        <div class="username">
            username
        </div>
    </div>
    <div class="box2">
        <div class="img">
            img
        </div>
        <div class="title">
            title
        </div>
        <div class="username">
            username
        </div>
    </div>
    <div class="box3">
        <div class="img">
            img
        </div>
        <div class="title">
            title
        </div>
        <div class="username">
            username
        </div>
    </div>
    <div class="box4">
        <div class="img">
            img
        </div>
        <div class="title">
            title
        </div>
        <div class="username">
            username
        </div>
    </div>

</body>
