@page "/"


<header>
    <div class="top">
        <div class="top1"><button>Follow Page</button></div>

        <div class="top2"><button>For You Page</button></div>
    </div>

</header>

<body>
    <div class="content">
            <article class="white-panel">
                <img src="./Image/img1.jpg" />
                <div class="post-info">
                    <div class="post-basic-info">
                        <h3>
                            <a href="">Title</a>
                        </h3>
                        <span>
                            <a>User name</a>
                        </span>
                        <p>This can be a short of discripation</p>

                    </div>
                </div>
            </article>
            <article class="white-panel">
                <img src="./Image/img1.jpg"/>
                <div class="post-info">
                    <div class="post-basic-info">
                        <h3>
                            <a href="">Title</a>
                        </h3>
                        <span>
                            <a>User name</a>
                        </span>
                        <p>This can be a short of discripation</p>

                    </div>
                </div>
            </article>
            <article class="white-panel">
                <img src="./Image/img1.jpg" />
                <div class="post-info">
                    <div class="post-basic-info">
                        <h3>
                            <a href="">Title</a>
                        </h3>
                        <span>
                            <a>User name</a>
                        </span>
                        <p>This can be a short of discripation</p>

                    </div>
                </div>
            </article>
        
 
        </div>
      

</body>
