@page "/IndiviPost"

<div class="header"></div>
<div class="content">
    <div class="wrap">
        <div class="single-page">
            <div class="single-page-content">
                <img src="~/Image/img4.jpg"/>
                <h3>This is  the title</h3>
                <p>THis is all the soihoaodhaosidal s ioh asoi shoih aohsoh aosh </p>
            </div>
        </div>
    </div>
</div>





@code {

}
