@page "/message"

<div class="funcs">
    <div class="like">
        like
    </div>
    <div ckass="newMessage">
        Mew Message
    </div>
    <div class="notifi">
        Notification
    </div>

</div>



@code {

}
