@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row">
            <div class="top-infobar">
                <ul id="nobullt">
                    <li><a href="/post/view/1">IndiviPost</a></li>
                    <li><a href="/post/make">Make Post</a></li>
                    <li><a href="/Follow">Follow</a></li>
                    <li><a href="/Message">Message</a></li>
                    <li><a href="/Profile">Profile</a></li>
                    <li><a href="/Test">Test</a></li>
                </ul>
            </div>          
        </div>
        <div class="content px-4">
            @Body
        </div>

    </div>
</div>
