@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row">
            <ul id="nobullt">
                <li><a href="/IndiviPost">IndiviPost</a></li>
                <li><a href="/MakePost">Make Post</a></li>
                <li><a href="/Follow">Follow</a></li>
                <li><a href="/Message">Message</a></li>
                <li><a href="/Profile">Profile</a></li>

            </ul>
            
        </div>
        <div class="content px-4">
            @Body
        </div>

    </div>
</div>
